#board
	= render "visual_board"

#config.modal.hide.fade
	.modal-header
		%h3 Set up your Game
	.modal-body
		%h3 This is one input
	.modal-footer
		%a.btn.btn-primary{href: "#", data: { dismiss: "modal" }} Start Game
