header {
  font-family: 'Kaushan Script', cursive;
  h1 { margin-top: 5px; margin-bottom: 5px;}
  a {
    text-decoration: none;
    color: #08C;
    font-size: 20px;
  }
}

#wrapper {
  position: relative;
}

#board {
  border: 5px solid black;
  min-height: 600px; max-height: 600px; height: 600px;
  min-width: 600px; max-width: 600px; width: 600px;
  margin: 0 auto;
  cursor: pointer;
}

.square {
  position: relative;
  float: left;
  box-sizing: border-box;

  p {
    margin: 0;
    opacity: 0;
    color: #5CBE73;
    font-family: "Helvetica";
    font-weight: bold;
    text-shadow: 3px 3px rgb(24,43,4);
    font-size: 150px;
    position: absolute;
    top: 10px; left: 50px;
  }

  &:hover {
    background-color: lighten(#5CBE73, 10%); }

  &.selected:hover {
    background-color: #fff; }
}

.highlight {
  background-color: #f9f27c;
}
